body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.4; /* Zmniejszony odstęp między liniami (standard to 1.6) */
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

main {
    max-width: 750px; 
    margin: 20px auto; 
    background: white;
    padding: 25px 40px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.05);
    text-align: center;
}


.cv-disclaimer {
    font-style: italic;
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 20px;
}

h1, h2, h3 {
    color: #2c3e50;
    margin: 15px 0 10px 0; 
    display: inline-block;
    border-bottom: 2px solid #2c3e50;
    padding-bottom: 3px;
}

header h1 {
    font-size: 2rem;
    margin-top: 30px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 10px 0; 
}

ul li {
    margin-bottom: 5px; 
    font-size: 1rem;
}

section {
    margin-bottom: 15px; 
}

nav[aria-label="Main navigation"] a {
    display: inline-block;
    padding: 10px 25px;
    background-color: #2c3e50;
    color: white;
    text-decoration: none;
    border-radius: 50px;
    font-weight: bold;
    margin-top: 20px;
}