header {
    text-align: center;
    padding: 50px 20px 20px;
}

.header__name h1 {
    margin-bottom: 10px;
    font-size: 2.5rem;
    text-transform: uppercase;
}

.header__name::after {
    content: "";
    display: block;
    width: 300px; 
    height: 3px;
    background-color: #000000;
    margin: 0 auto; 
}