header {
    text-align: center;
    padding: 50px 20px 20px;
}

.header__name h1 {
    margin-bottom: 10px;
    font-size: 2.5rem;
    text-transform: uppercase;
}

/* Linia pod imieniem wychodząca poza tekst */
.header__name::after {
    content: "";
    display: block;
    width: 300px; /* Szerokość linii */
    height: 3px;
    background-color: #2c3e50;
    margin: 0 auto; /* Środkuje linię */
}