
        .header__nav {
            display: flex;
            flex-direction: column;
            align-items: center; 
            padding-top: 50px;    
        }

        .header__name {
            font-size: 2.5rem;
            color: #333;
            margin-bottom: 2px;
            text-transform: uppercase;
            letter-spacing: 2px;
            position: relative;
        }


        .header__name::after {
            content: "";
            position: absolute;
            left: -25%;         
            width: 150%;         
            height: 4px;        
            background-color: #007bff; 
            border-radius: 2px;
        }