@import url("header.css");
@import url("base.css");
@import url("cv.css");
@import url("journal.css");
@import url("projects.css");


:root {
    --primary-color: #a786e4;
    --sec-color: #e78ecd;
    --text-color: #2460af;

    --background-color: #58114f;
}


body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}